# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore `bin` dirs
bin/
*/bin/*

# Ignore IDE folders
.idea

consignment-service/consignment-service

consignment-cli/consignment-cli
